@import '~antd/dist/antd.css';

.main-row {
  margin-top: 48px;
}

.logo-img {
  display: block;
  margin: 0 auto 16px auto;
}

.centered-text {
  text-align: center;
}

.centered-block {
  display: block;
  margin: 0 auto;
}

.separator {
  visibility: hidden;
  margin-top: 24px;
}